@font-face {
    font-family: 'Silk-Serif';
    src: url('Font/Silk-Serif-ExtraLight.ttf') format('truetype');
    font-weight: normal; font-style: normal; 
}
body {
    margin: 0;
    background-color: black;
}
.home {
    background-size: cover;
    padding: 150px;
    display: flex;
    height: 500px;
}
.homeLeft {
    width: 50%;
    color: #FFF;
    font-family: 'Silk-Serif';
    line-height: 1;
}
.title {
    font-size: 65px;
    margin: 30px;
    color: #A7161b;
}
.subtitle {
    font-size: 30px;
    margin: 30px;
}
.sub1 {
    font-size: 35px;
    margin: 30px;
    text-align: center;

}
.buy {
    width: auto;
    height: 105px;
    display: flex;
    justify-content: center;
}

.buy a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    border: solid 1px #FFF;
    text-align: center;
    border-radius: 5px;   
}
.buy a:hover {
    font-weight: bold;
    background-color: #A7161b;
    color: black;
    border: solid 3px black;
    box-shadow: 0px 0px 22px #A7161b;
}
.icons {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.icons i{
    margin: 10px;
}
.homeRight {
    width: 50%;
}
.homeRight img {
    width: 100%;
    height: 700px;
    opacity: 0.5;
}
.content {
    color: #FFF;
    padding: 150px;
    font-family: 'Silk-Serif';
    line-height: 1;
    font-size: 30px;
}
.contentInside {
    border-top: solid 1px #A7161b;
}
.content1 {
    margin: 50px;
}
.box {
    display: flex;
    justify-content: center;   
}
.boxContent {
    display: flex;
    background-color: #3333334f;
    font-size: 20px;
    border-radius: 15px;
    margin: 10px;
    width: 450px;
    height: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid 1px #3333334f;
}
.boxContent:hover {
    border: solid 1px #A7161b;
}
.now {
    margin: 50px;
    line-height: 1.5;
    text-align: center;
}
.points {
    margin: 50px;
    line-height: 1.5;
}
.points h4 {
    text-align: center;
}
#buyBiggest a{
    font-size: 25px;
}
li {
    list-style-image: url(Images/peach.png);
    font-size: 25px;
}
.moduleHead {
    padding: 50px;
}
.moduleTitle {
    text-align: center;
    font-size: 40px;
}
.moduleSubtitle {
    text-align: center;
    font-size: 60px;
    color: #A7161b;
}
.module {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modules {
    width: 60%;
    border-top: solid 1px #A7161b;
    border-bottom: solid 1px #A7161b;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.modulesContent {
    opacity: 0.5;
    margin: 5px;
}
.price {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.priceInter {
    padding: 20px;
    font-size: 60px;
    text-align: center;
}
small {
    text-align: center;
    font-size: 25px;
}
.priceInter i {
    font-size: 30px;
    color:#A7161b;
}
.price1 {
    width: 60%;
    border: solid 1px #A7161b;
}
.price1:hover {
    border: solid 3px #A7161b;
}
.bonus {
    padding: 10px;
}
.bonusInter {
    color: #A7161b;
    padding: 10px;
    text-align: center;
}
.bonusContent {
    padding: 10px;
    text-align: center;
}
.depoiments {
    width: 100%;
    color: #FFF;
    font-family: 'Silk-Serif';
    line-height: 1;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.depoimentsTitle {
    text-align: center;
    margin: 30px;
    font-size: 35px;
}
.depoimentsContent {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.depoimentsContentFirts {
    line-height: 1.1;
}
.depoimentsContent div {
    box-shadow: 0px 0px 50px #A7161b;
    padding: 23px;
    border-radius: 20px;
    margin: 10px;
    flex: 1;
}
@media (max-width: 1150px) {
    .home {
        padding: 50px;
        width: 800px;
        height: auto;
    } 
}
@media (max-width: 900px) {
    .home {
        padding: 50px;
        display:flex;
        flex-direction:column-reverse;
        align-items: center;
        width: 480px;
        height: auto;
    }
    .homeRight {
        width: 480px;
        height: 700px;
        
    }
    .homeRight img {
        width: 480px;
        height: 700px;
    }
    .homeLeft {
        width: 600px;
        color: #FFF;
        font-family: 'Silk-Serif';
        line-height: 1;
    }
    .content {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 600px;
        height: 1200px;
    }
    .depoimentsContent {
        display: block;
    }
    
}